//////////// FONTS ////////////

// Font Families
$font-family-base: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
$font-family-condensed: 'Roboto Condensed', Helvetica, Calibri, 'Trebuchet MS', sans-serif;

// Sizes
$font-size-little: 10px;
$font-size-normal: 12px;
$font-size-big: 14px;
$font-size-big-l: 16px;
$font-size-big-xl: 18px;
$font-size-title: 30px;
$font-size-extreme: 96px;
