.title {
  font-size: 26rem;
  font-weight: 900;
  font-family: 'Greycliff CF, sans-serif';
}

@media only screen and (max-width: 600px) {
  .controls {
    flex-direction: 'column-reverse';
  }

  .control {
    width: '100%';
    text-align: 'center';
  }
}
